.projectsContainer{
    margin-top:50px;
    height: 700px;
    background-color: white;
}
.Title{
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 2.3rem;
    color: #007bff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Description{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40px;
    color:#007bff;
    font-size: 1.5rem;
}
.projectButton{
    background-color: #9d9d9e;
    border-radius: 10px;
    border: 3px solid black; /* your custom border */
    height: 150px;
    width: 300px;
    color: black;
    display: flex;
    flex-direction: column;  /* Stack vertically */
    align-items: center;     /* Center horizontally */
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectsWrapper{
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.projectDescription {
    margin-top: -20px;
    font-size: .85rem;
    text-align: center;
}
.projectTitle{
    margin-top: -35px;
    text-decoration: none;
    font-size: 1.9rem;
}
.image{
    display:block;
    width: 100px;
    height: 100px;
}